*{
  box-sizing: border-box;
}
header{
  background-color: #52829C;
  text-align: left;
  padding: 20px;
}
body{
  margin: 0px;
}
main{
  margin-left: 20px;
  margin-right: 20px;
}
h1{
  text-align: center;
}
.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: black;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: #7EB1C1;
}
.navbar li{
  float: right;
}
section{
  width: 50%;
  text-align: center;
  font-size: 20px;
}
.slider{
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider img{
  width: 100%;
  display: none;
}
img.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: #2D3947;
  color: white;
  border: none;
  cursor: pointer;  
}
.previous{
  left: 0;
}
.next{
  right: 0;
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  height: 18%;
}
